{% extends 'base.html' %}
{% block title %}
<title> StudTracker | Index</title>
{% endblock %}

{% block content %}
<h1>hello world</h1>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla praesentium vero quos inventore deserunt, expedita
    eveniet impedit aspernatur similique ad, ex saepe nostrum placeat repudiandae nam temporibus! Architecto id
    perspiciatis cumque minus assumenda. Cumque quis commodi laboriosam dolorem pariatur consequuntur rerum perferendis,
    dolore ducimus nulla! Nihil enim neque sunt hic ducimus quas atque amet eveniet saepe maxime maiores cum in labore
    optio nulla velit impedit perspiciatis soluta eos asperiores, facilis a, repellat aliquid placeat? Dolorem, porro.
    Ipsa hic facilis a blanditiis. Id laborum repellat esse sed officiis error iure aliquid!</p>

{% endblock %}