{% extends 'base.html' %}
{% block title %}
<title> StudTracker | Lessons</title>
{% endblock %}

{% block content %}
    <table class=" table table-hover">
        <thead>
            <tr class="table-dark">
                <th scope="col">Lesson Name</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            {% for lesson in lessons %}
            <tr class="table">
                <td>{{lesson.lesson_name}}</td>
                <td>${{lesson.lesson_price}}</td>
            
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}