{% extends 'base.html' %}
{% block title %}
<title> StudTracker | Students</title>
{% endblock %}

{% block head%}
{% load static %}
<link rel="stylesheet" href="{% static '/student.css' %}">

{% endblock %}

{% block search %}
<form method="post" class="d-flex">
    {% csrf_token %}
    <input class="form-control me-sm-2" placeholder="Search student name" name="name" type="text" placeholder="Search">
    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
</form>
{% endblock %}


{% block content %}
<div class="container">
    {% for student in students %}
        <div class="student-card">
            <span id="online"></span>
            
            <div class="card-head">
                <img src="https://via.placeholder.com/250" alt="empty">
            </div>
            <div class="card-body">
                <h4>{{ student.name }}</h4>
                <h4>{{ student.email }}</h4>
                <h4>{{ student.phone}}</h4>
                {% if student.isverified%}<span id="verified">&#9733;</span>{%endif%}
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}