{% extends 'base.html' %}
{% block title %}
<title> StudTracker | Students</title>
{% endblock %}

{% block content %}
    <table class=" table table-hover">
        <thead>
            <tr class="table-dark">
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Age</th>
                <th scope="col">Gender</th>
                <th scope="col">Verified</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td>{{student.name}}</td>
                <td>{{student.email}}</td>
                <td>{{student.age}}</td>
                <td>{{student.gender}}</td>
                <td>{{student.isverified}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}