<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>Students attended the classroom</h1>
        <h2>{{count}}</h2>
        <a href="{% url 'add' %}">Add</a>
        <input id="save-button" type="button" value="Save">
        <input id="reset-button" type="button" value="Reset">
    </div>

</body>
</html>