{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}
<title>Passwords1</title>
{% endblock %}
{% block head %}
{% load static%}
<link rel="stylesheet" href="{% static 'showadd.css' %}">
{% endblock %}


{% block content %}
    <div class="container">
        <div class="form-container">
            <form action="" method="post" class="form-class">
                {% csrf_token %}
                {{form}}
                <button type="submit">Save</button>
            </form>
        </div>
        <div class="display-container">
            {% for password in passwords %}
                <div class="item">
                    <div class="item-info">
                        <ul>
                            <li>{{ password.website }}</li>
                            <li>{{ password.username }}</li>
                            <li>{{ password.password }}</li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <a class ='btn btn-danger' href="/delete/{{password.id}}">X</a>
                        <a class= 'btn btn-info' href="/update/{{password.id}}">Update</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}