{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}
<title>Passwords1</title>
{% endblock %}
{% block head %}
{% load static%}
<link rel="stylesheet" href="{% static 'showadd.css' %}">
{% endblock %}


{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        {{form|crispy}}
        <button type="submit">Save</button>
    </form>

    {% for password in passwords %}
        <div class="item">
            <div class="item-info">
                <ul>
                    <li>{{ password.website }}</li>
                    <li>{{ password.username }}</li>
                    <li>{{ password.password }}</li>
                </ul>
            </div>
            <div class="item-delete"><a href="/delete/{{password.id}}">X</a></div>
            <div class="item-update"><a href="/update/{{password.id}}">Update</a></div>
        </div>
    {% endfor %}
{% endblock %}