
body {
    font-family: sans-serif;
    background-color: #f56c22;
    width: 100%;
    height: 100%;
    animation: 5s linear 1s infinite alternate bgchange;
}

@keyframes bgchange {
    from {
        background-color: #f56c22;
    }
    to {
        background-color: #832e00;
    }
    
}

p {
    line-height: 1.6rem;
    font-size: 1.4rem;
    font-weight: 500;
    color: #fff;
}

.container-fluid {
    position: absolute !important;
}

.center-div {
    margin-top: 20rem !important;
    width:70%;
    margin: 0 auto;
    text-align: center;

}

.alert {
    position: fixed !important;
    width: 100%;    
}


.center-div > * {
    margin-bottom: 2rem !important; 
}

.form-line {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.form-line > *{
    width: 100%;
    margin-top:1.4rem;
}

form {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
}

form> input{
    width:70%;
    font-size: 1.7rem;

    box-shadow: none;
    border: none;
    border-top-left-radius: 1.3rem;
    border-bottom-left-radius: 1.3rem;

}

form> button {
    width: 14%;
    font-size: 1.3rem;
    font-weight: 600;
    color: #EF5B0C;

    background-color: #fff;

    border:none;
    border-top-right-radius: 1.3rem;
    border-bottom-right-radius: 1.3rem;

}

form> button:hover {
    animation: fillIn 1.2s forwards;

}

@keyframes fillIn {
    from {
        transform: translateX(0);
        background-color: rgb(255, 255, 255);
        color:rgb(255, 112, 10)
      }
    
      to {
        transform: translateX(5%);
        background-color: rgb(236, 89, 9);
        color: rgb(255, 225, 225);
      }
}



@media screen and (max-width: 1120px) {

    img {
        width : 190px;
        height: 8%;
    }

    form > input {
        font-size: 0.9rem;
    }
    
    form > button {
        font-size: 0.9rem;
    }

    p {
        font-size: 0.7rem;
    }
    
}


@media screen and (max-width: 790px) {

    img {
        width : 170px;
        height: 7%;
    }

    form > input {
        font-size: 0.5rem;
    }
    
    form > button {
        font-size: 0.5rem;
    }

    p {
        font-size: 0.7rem;
    }
    
}